{% extends "AppFerre/index.html"%}

{%block titulo%}
ABOUT US </p></h5>
{% endblock titulo%}

{%block contenido%}

   <div class="card mb-4"style="background-color:black">
     <p style="color:white">Licenciado En Economía, en la Carrera de Contador Público. 
        Actualmente trabajando en una empresa del sector financiero. 
        La idea de este curso es empezar adquirir conocimiento en programación
        con el objetivo de crear sistema de gestión personalizado,  en principio para un negocio familiar, dedicado
        a la compra y venta artículos de ferretería.</p>
   </div>

{% endblock contenido%}